@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Pacifico&display=swap');
.body
{
    margin: 0px;
}
.pages
{
    background-color: rgb(255, 251, 246);
}
.frontPage
{
    background-image: url("../img/frontCover3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 800px;
    width: 100%;
}
.frontPageAbout
{
    width: 60%;
    height: 500px;
    margin-top: 8%;
}
.navbarBrand
{
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
    color: black;
}
.navLink
{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: black;
}
.navLink:hover
{
    text-decoration: underline;
    
}
.frontPageAboutHead
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
}
.frontPageAboutText
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
}
.m-section
{
    width:80%;
}
.section-heading
{
    width: 40%;
    text-align: center;
    font-size: 55px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom:80px;
    text-decoration: underline;
}
.worksContainer
{
    padding:10px;
    margin-bottom: 30px;
}
.workTitle
{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.workExplanation
{
    font-size: 20px;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif; 
}
.aboutContent
{
    width:70%;
    margin-left: 15%;
    font-size:28px;
    font-weight: 300;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
}
.aboutImage
{
    width:30%;
    margin-left: 35%;
    margin-top:50px;
}
.footerIcons
{
    width:20%;
}
@media only screen and (max-width: 780px) 
{
    .frontPage
    {
        background-image: url("../img/frontCover1.jpeg");
        background-position: center;
        height: 900px;
        width: 100%;
    }  
    .frontPageAbout
    {
        width: 100%;
        height: 350px;
        margin-top: 6%;
        
    } 
    .frontPageAboutHead
    {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 60px;
    }
    .frontPageAboutText
    {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 28px;
        
    }
    .worksSection
    {
        width:100%;
    }
    .aboutContent
    {
        font-size:20px;
    }
    .aboutImage
    {
        width: 70%;
        margin-left: 15%;
    }
    .section-heading
    {
        font-size:36px;
    }
    .footerIcons
    {
        width:60%;
    }
}
