@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Dancing+Script&family=Inter:wght@500&family=Nunito:wght@300&display=swap');
@media only screen and (min-width: 150px){
    .contact-button{
        width: 70%;
        border: none;
        background-color: #71cce0;
        color: white;
        height: 30px;
        border-radius: 5px;
    }
    .book-container{
        height: auto;
         width: 100%;
         display: flex;
         overflow-x: scroll;

    }
    .book{
        width: 80%;
        margin-left: 20px;
    }
    .pdf{
        width: 100%;height: 400px;
    }
    .art{
        scroll-behavior: smooth;
        width: 100%;
         overflow:scroll;
         height: 300px;margin-bottom: 50px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    h1{
        font-family: Dancing Script;
        font-size: 60px;
        color: #001D6E;
        margin-bottom: 0;
        margin-top: 30px;
    }
    .info{
        font-size: 30px;
        font-family: Dancing Script;
        color: #000000;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .front-page{
        display: block;
        margin:0;
        padding: 0;
        background-color: #E8F9FD;
        height:600px;
        width: 100%;
        background-image: url('../img/BG.png');
        background-size:cover;
    }
    .info-box{
        position: relative;
        display: inline-block;
        align-items: center;
        padding-top: 5%;
        padding-left: 20%;
    }
    .person-logo{
        width: 160px;
        height: 160px;
        margin-top: 30px;
    }
    .logo{
        display: inline-block;
        height:90px;
        width:90px;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    .top-header{
        overflow-x: scroll;
        width: 85%;
        height: 100px;
        margin-left: 12%;
        display: inline-block;
    }
    .content-box-container{
        background-color:#faf7f5;
    }
    .content-box{
    
        display: inline-block;
        padding-bottom: 10px;
        margin-left: 10%;
        height: auto;
        width: 80%;
    }
    .content-box-footer{
    
        display: inline-block;
        padding-bottom: 200px;
        margin-left: 10%;
        height: auto;
        width: 80%;
    }
    
    .tweets{
        text-align: center;
        margin-left: 6%;
    }
    .content{
        display: inline-block;
        align-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    
    .content-heading{
        margin-bottom: 20px;
        display: block;
        padding-top: 30px;
        font-size: 30px;
        font-family: 'Inter', sans-serif;
    }
    
    .items{
        width: 50%;
        margin: 20px;
    
    
    }
    
    p{
        color: #5B7DB1;
        font-size: 25px;
        font-family: 'Nunito', sans-serif;
    }
    hr{
        display: block;
        border-style: none;
        border-top-style: dotted;
        border-top-color: #dfdfdf;
        width: 5%;
        border-width: 6px;
        margin-top: 20px;
    
    }
    .hr2{
        display: block;
        border-style: none;
        border-top-style: dotted;
        border-top-color: #dfdfdf;
        width: 5%;
        border-width: 6px;
        margin-top: 10px;
    
    }
    .text-box{
        width: 80%;
        margin-left: 5%;
    }
    .text-box-footer{
        text-align: center;
        margin-top: 30px;
        width: 30%;
        margin-left: 35%;
    }
    .text-content{
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        
    }
    
    .footer{
        height: 200px;
        background-color: #E8F9FD;
        text-align: center;
    }
    .link-logo{
        display: inline-block;
        height:30px;
        width:30px;
        margin-top:20px;
        margin-left: 30px;
        padding-top: 10px;
        padding-left: 10px;   
    }
    .text-footer{
        color:rgb(109, 109, 109);
        font-size: 12px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
    }
    
    .menu-buttons{
        display:flex;
        font-size: 20px;
        font-family: monospace;
        
    }
    
    .visiting-link{
        text-decoration: none;
        color: rgb(55, 177, 253);
        margin-top: 50px;
        margin-right: 30px;
        font-size: 15px;
    }
    .visiting-link:hover{
        text-decoration: none;
        color: rgb(174, 217, 245);
        margin-top: 50px;
        margin-right: 30px;
    
    }
    
    a{
       text-decoration: none;
        color: lightskyblue;
        margin-top: 50px;
        margin-right: 30px;
        font-size: 15px;
    }
    a:hover{
        text-decoration: none;
        color: rgb(169, 222, 255);
        margin-top: 50px;
        margin-right: 30px;   
      
    }
    .more-page{
        display: block;
        margin:0;
        padding: 0;
        background-color: #E8F9FD;
        height:600px;
        width: 100%;
        background-image: url('../img/BG2.png');
        background-size:cover;
    }
    .project-page{
        display: block;
        background-color: #E8F9FD;
        height:600px;
        width: 100%;
        background-image: url('../img/pngegg.png');
        background-size: cover;
    }
    .info-box-more{
        position: relative;
        display: inline-block;
        align-items: center;
        padding-top: 10%;
        padding-left: 42%;   
    }
    .more{
        font-family: Dancing Script;
        font-size: 60px;
        color: #001D6E;
    
    }
    
    .skills-container{
        height: auto;
    }
    .skill{
        display: flex;
        width: 95%;
        margin-left: 5%; 
        height:200px; 
        border-radius: 10px;
        margin-top:80px;
    }
    .skill-text{
        width:60%;
        height: 100%;
        text-align:center;
    }
    .skill-icon{
        width: 40%; 
        display: inline-block;
        height: 100%;
    }
    .skill-heading{
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }
    .skill-info{
        color: black;
        font-size: 16px;
        font-family: 'Anek Malayalam', sans-serif;
    
    }
    .content-box-projects{
        height: auto;
    }
    .project-container{
        width: 80%;
        margin-left: 10%;
    }
    
}
@media only screen and (min-width: 700px)  {
    .contact-button{
        width: 20%;
    }
    .art{
        scroll-behavior: smooth; overflow:scroll;height: 600px;margin-bottom: 50px;
    }
    .pdf{
        width: 100%; 
        height: 700px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    h1{
        font-family: Dancing Script;
        font-size: 80px;
        color: #001D6E;
        margin-bottom: 0;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    .info{
        font-size: 30px;
        font-family: Dancing Script;
        color: #7FB5FF;
        margin-bottom: 5px;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    .front-page{
        display: block;
        margin:0;
        padding: 0;
        background-color: #E8F9FD;
        height:700px;
        width: 100%;
        background-image: url('../img/BG.png');
        background-size:cover;
    }
    .info-box{
        position: relative;
        display: inline-block;
        align-items: center;
        padding-top: 2%;
        padding-left: 40%;
    }
    
    .logo{
        display: inline-block;
        height:90px;
        width:90px;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    .top-header{
        width: 70%;
        height: 100px;
        margin-left: 15%;
        display: inline-block;
    }
    .content-box-container{
        background-color:#faf7f5;
    }
    .content-box{
    
        display: inline-block;
        padding-bottom: 10px;
        margin-left: 10%;
        height: auto;
        width: 80%;
    }
    .content-box-footer{
    
        display: inline-block;
        padding-bottom: 200px;
        margin-left: 10%;
        height: auto;
        width: 80%;
    }
    
    .tweets{
        text-align: center;
        margin-left: 6%;
    }
    .content{
        display: inline-block;
        align-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    
    .content-heading{
        margin-bottom: 20px;
        display: block;
        padding-top: 30px;
        font-size: 30px;
        font-family: 'Inter', sans-serif;
    }
    
    .items{
        width: 50%;
        margin: 20px;
    
    
    }
    
    p{
        color: #5B7DB1;
        font-size: 25px;
        font-family: 'Nunito', sans-serif;
    }
    hr{
        display: block;
        border-style: none;
        border-top-style: dotted;
        border-top-color: #dfdfdf;
        width: 5%;
        border-width: 6px;
        margin-top: 80px;
    
    }
    .hr2{
        display: block;
        border-style: none;
        border-top-style: dotted;
        border-top-color: #dfdfdf;
        width: 5%;
        border-width: 6px;
        margin-top: 10px;
    
    }
    .text-box{
        width: 50%;
        margin-left: 25%;
    }
    .text-box-footer{
        text-align: center;
        margin-top: 30px;
        width: 30%;
        margin-left: 35%;
    }
    .text-content{
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        
    }
    
    .footer{
        height: 200px;
        background-color: #E8F9FD;
        text-align: center;
    }
    .link-logo{
        display: inline-block;
        height:30px;
        width:30px;
        margin-top:20px;
        margin-left: 30px;
        padding-top: 10px;
        padding-left: 10px;   
    }
    .text-footer{
        color:rgb(109, 109, 109);
        font-size: 12px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
    }
    
    .menu-buttons{
        display:flex;
        font-size: 20px;
        font-family: monospace;
        
    }
    
    .visiting-link{
        text-decoration: none;
        color: rgb(55, 177, 253);
        margin-top: 50px;
        margin-right: 30px;
        font-size: 20px;
    }
    .visiting-link:hover{
        text-decoration: none;
        color: rgb(174, 217, 245);
        margin-top: 50px;
        margin-right: 30px;
    
    }
    
    a{
       text-decoration: none;
        color: lightskyblue;
        margin-top: 50px;
        margin-right: 30px;
        font-size: 20px;
    }
    a:hover{
        text-decoration: none;
        color: rgb(169, 222, 255);
        margin-top: 50px;
        margin-right: 30px;   
      
    }
    .more-page{
        display: block;
        margin:0;
        padding: 0;
        background-color: #E8F9FD;
        height:700px;
        width: 100%;
        background-image: url('../img/BG2.png');
        background-size:cover;
    }
    .project-page{
        display: block;
        margin:0;
        padding: 0;
        background-color: #E8F9FD;
        height:800px;
        width: 100%;
        background-image: url('../img/pngegg.png');
        background-size: cover;
    }
    .info-box-more{
        position: relative;
        display: inline-block;
        align-items: center;
        padding-top: 10%;
        padding-left: 42%;   
    }
    .more{
        font-family: Dancing Script;
        font-size: 100px;
        color: #001D6E;
    
    }
    .project-container{
        display: flex;
        width: 100%;
        height: 400px;   
    }
    .project-items{
        width: 50%;
        height: 100%;
    }
    .project-items-text{
        margin-left: 5%;
        text-align: center;
        width: 45%;
        height: 100%;
    }
    .content-box-projects{
        display: inline-block;
        padding-bottom: 10px;
        margin-left: 5%;
        height: auto;
        width: 70%;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    .skills-container{
        display: flex;
        height: auto;
    }
    .skill{
        display: flex;
        width: 45%;
        margin-left: 5%; 
        height:200px; 
        border-radius: 10px;
        margin-top: 5%;
    }
    .skill-text{
        width:60%;
        height: 100%;
        text-align:center;
    }
    .skill-icon{
        width: 40%; 
        display: inline-block;
        height: 100%;
    }
    .skill-heading{
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }
    .skill-info{
        color: black;
        font-size: 16px;
        font-family: 'Anek Malayalam', sans-serif;
    
    }
    .book-container{
        height: auto;
         width: 100%;
         display: flex;
         overflow-x: scroll;
         align-content: center;

    }
    .book{
        width: 30%;
        margin-left: 20px;
    }

    
}












